body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Lato, sans-serif;
    background-color: #F5F5F5;
    color: #455A64;
    text-align: center;
}

#navigation {

}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1A237E;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;

}

#navigation li a:hover {
    background-color: #3949AB;
}

#presentation, #reading, #games, #basketball, #players {
    border-bottom: black 1px solid;
}
#reading {

}

#games {

}

#basketball, #players {
    padding: 15px;
    color: white;
    background-color: #BF360C;
}

#tasks, #colorText, #event {
    padding: 15px;
    background-color: #F5F5F5;
    color: #455A64;
    border-bottom: 1px #455A64 solid;
}

#shopping {
    background-color: #F5F5F5;
    color: #455A64;
    padding: 15px;
}

ol#playerList {
    margin: auto;
    width: 7%;
    text-align: left;
}

button, input {
    font-family: Lato, sans-serif;
    color: #455A64;
}

#list {

}

#list li {
    list-style-position: inside;
}

ul#list {
    margin: auto;
    width: 20%;
    text-align: left;
}

input, button {
    border-radius: 7px;
    font-weight: bold;
}